nav {
    background-color: red;
    text-align: center;
    color: white;
    padding: 20px;
}

footer {
    background-color: red;
    text-align: center;
    color: white;
    padding: 20px;
}

form {

    text-align: center;
}

button {



    text-align: center;
}

button {

    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    padding: 10px 50px;
    color: white;

    size: 15;
    background-color: red;

    size: 10;
    background-color: red;
}

.container {
    width: 100%;

}