nav {
    background-color: red;
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
}

footer {
    background-color: red;
    text-align: center;
    color: white;
    padding: 20px;
    margin: auto;
}